In [ ]:
import zipfile
z = zipfile.ZipFile('/content/payment-id-ndsc-2020.zip')
z.extractall('/content/drive/MyDrive/Colab Data/NDSC')
z.close()

In [ ]:
import pandas as pd

In [ ]:
bank = pd.read_csv('/content/drive/MyDrive/Colab Data/NDSC/bank_statement.csv')
bank.info()
bank.desc = bank.desc.apply(lambda x: x.split(' '))
bank.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240000 entries, 0 to 239999
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   stmt_id      240000 non-null  int64
 1   stmt_amount  240000 non-null  float64
 2   desc         240000 non-null  object
dtypes: float64(1), int64(1), object(1)
memory usage: 5.5+ MB

   stmt_id  stmt_amount                                               desc
0        1       100.00  [INSTANT, TRANSFER, , , , BAW, CGANBAWI, YIWHI...
1        2        23.77                [, , , , WOOG, CARIZA, NIWSI, YO, ]
2        3        18.00  [ZOMAZAW, MABIX, ATMA, *, , BUGW, *, KZBUGW, -...
3        4        21.87  [TRANSFER, GO, LA/FA, , , AHHA, PUYIMA, , , , ...
4        5        53.68  [INSTANT, TRANSFER, , , , FABZUN, WIQAT, JIW, ...

In [ ]:
check = pd.read_csv('/content/drive/MyDrive/Colab Data/NDSC/checkout.csv')
check.info()
check.buyer_name = check.buyer_name.apply(lambda x:x.split(' '))
check.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240000 entries, 0 to 239999
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   ckt_id      240000 non-null  int64
 1   ckt_amount  240000 non-null  float64
 2   buyer_name  240000 non-null  object
dtypes: float64(1), int64(1), object(1)
memory usage: 5.5+ MB

   ckt_id  ckt_amount                                      buyer_name
0       1       20.00                            [SAVMUEJICE, EPHOCP]
1       2       14.91  [LUHALLAK, ZGANFAP, HAIQAW, VIP, LOHK., CIQTI]
2       3       13.20                                  [SUQ, UNAISIE]
3       4       36.90                    [GOZK, BIHKAUT, LIV, LATAPI]
4       7       26.29         [HUY, ZABIRAN, HATIZAN, WIHMI, IRYIZ, ]

In [ ]:
check['buyer_name']

0                               SAVMUEJICE EPHOCP
1         LUHALLAK ZGANFAP HAIQAW VIP LOHK. CIQTI
2                                     SUQ UNAISIE
3                         GOZK BIHKAUT LIV LATAPI
4                HUY ZABIRAN HATIZAN WIHMI IRYIZ
                           ...
239995                     VAQFILAPA JIPTI NORABI
239996                JIQI CUWAIVAC FIBQI IFVACIW
239997                MFAFHIYAB JIYVI MFAQMUTTIY
239998              VAHID DUBRQAVIBA JH FOQL ANAD
239999                              HAGOUF GOJBAQ
Name: buyer_name, Length: 240000, dtype: object

In [ ]:
def possible_name(desc):
  desc = desc.strip()
  new_pos = 0
  poss_arr = []
  space_count = 0
  for i in range(0, len(desc)):
    if desc[i] == ' ':
      space_count = space_count + 1
    else:
      space_count = 0

    if space_count > 1:
      poss = desc[new_pos:i].strip()
      if poss != '' and poss != 'TRANSFER':
        poss_arr.append(poss)
      space_count = 0
      new_pos = i
  poss_arr.append(desc[new_pos:].strip())
  return poss_arr

import numpy as np
def string_match(s, t, ratio_calc = False):
    # Initialize matrix of zeros
    rows = len(s)+1
    cols = len(t)+1
    distance = np.zeros((rows,cols),dtype = int)

    for i in range(1, rows):
        for k in range(1,cols):
            distance[i][0] = i
            distance[0][k] = k

    for col in range(1, cols):
        for row in range(1, rows):
            if s[row-1] == t[col-1]:
                cost = 0 # If the characters are the same in the two strings in a given position [i,j] then the cost is 0
            else:
              if ratio_calc == True:
                    cost = 2
              else:
                    cost = 1
            distance[row][col] = min(distance[row-1][col] + 1,      # Cost of deletions
                                 distance[row][col-1] + 1,          # Cost of insertions
                                 distance[row-1][col-1] + cost)     # Cost of substitutions
    
    return ((len(s)+len(t)) - distance[row][col]) / (len(s)+len(t))
       
def check_name(name, name_arr):
  for n in name:
    for ar in name_arr:
      print(n, ar, string_match(n, ar))
possible_name('  TRANSFER   BUDABBSHOPEEAW ZAUGAH ZIFY ')
check_name(check_sort.buyer_name.iloc[:25].apply(lambda x: x.split(' '))[4560], bank_sort.desc.apply(possible_name)[127225])

QOVCI QOVCI PICRI APACY SUCF TRANSFER * MWSUCF 0.2222222222222222
QOVCI - 0.16666666666666666
PICRI QOVCI PICRI APACY SUCF TRANSFER * MWSUCF 0.2222222222222222
PICRI - 0.16666666666666666
APACY QOVCI PICRI APACY SUCF TRANSFER * MWSUCF 0.2222222222222222
APACY - 0.16666666666666666

In [ ]:
bank_sort= bank.sort_values(by=['stmt_amount'])
check_sort = check.sort_values(by=['ckt_amount'])

In [ ]:
bank_sort.desc.apply(possible_name)[127225]

['QOVCI PICRI APACY SUCF TRANSFER * MWSUCF', '-']

In [ ]:
check_sort.buyer_name.iloc[:25].apply(lambda x: x.split(' '))

77722                       [WXAKIH, CIN, RAXVAN]
69694            [DUX, RAMAXADI, ZIDGI, RUWVICWI]
35591                     [IBAXILAY, ACP, LAYGAB]
133597     [BUDABBAW, ZAUGAH, ZIFYI, XIH, AXIWIH]
167547                           [PAHK, AI, PIHK]
205619              [XUT, QADBIBA, WIXDI, NAAQAT]
199175                         [SASASQ, ZEHITOSO]
217898                 [XAM, JOWAJAB, WARIYRILDI]
208502                [BUV, AKIQAZ, LIBKI, IHABI]
1764                [GATIBAB, QIGYI, VOBC, WACLI]
157594                             [BAJIAB, MOLT]
38946                  [TAIDI, ATUQAD, G, GAKEYI]
171186                [DAWHIAS, GIMPI, NSADNUHIM]
51041                          [JGEP, SGEMH, GAI]
10797            [KOOVAWYIXIK, MIKSI, AMHUDDAF, ]
223161                           [WOK, PEE, PAQB]
217943             [LOQFANENNA, MILZI, YOGT, LOQ]
211209              [BORABAG, ZABPEE, JIX, SAPIB]
4560                        [QOVCI, PICRI, APACY]
219371                   [PUWAPPAM, SINYI, ASLAY]
13008                [SAJTUY, HIMHAW, SIZ, IMHAL]
182539              [NOQANAT, DATQIW, MIL, QUSIL]
165720                           [WUVUS, PAMIXAX]
112979                [AFHUK, VAHIX, FIT, ZIQNAT]
92790     [NOL, WAQIN, FAWXANAH, ZINQI, AXAKUSIN]
Name: buyer_name, dtype: object